@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --main-bg-color: linear-gradient( to bottom, var(--navbar), aliceblue);
  --reverse-bg-color: linear-gradient( to top, var(--navbar), aliceblue);
  --alternate-bg-color: linear-gradient( to bottom, var(--green), aliceblue);
  --navbar: #587d9d;
  --skyblue:rgb(181, 212, 239);
  --silverblue:rgba(84, 135, 179, 0.411);
  --purple: rgb(17, 3, 37);
  --orange:rgb(179, 72, 0);
  --lightgradient: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.4)
  );
  --headerfont: 2.5rem;
  --largefont: 2rem;
  --mediumfont:1.5rem;
  --smallfont: 1.25rem;
  --textfont: 1rem;
}

* {
  box-sizing: border-box; /*accounts for margin and padding in sizing, easier to size */
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'EB Garamond', serif; 
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
}

ul {
  list-style-type: none; /* takes bullet points out */
}

h2, h3{
  line-height: 1.6;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
}

h4{
  font-family: 'Outfit', sans-serif;
  font-size: var(--textfont);
  text-align: center;
  font-weight: 400;
}

img {
  width: 100%; /*keep images inside box container*/
}

a {
  text-decoration: none; /* takes underline out*/
  font-weight: 100;
}

a:visited{
  color: aliceblue;
}

a:active{   /* emulates pressing of button in 3d space */
  top: 1px;
}

p{
  line-height: 1.6;
}

/* 
footer{
  border-top:var(--silverblue) solid 2px;
  background-color: var(--silverblue);
  height: 20em;
  padding: 3rem 10rem;
}

footer ul{
  width: fit-content;
}

footer ul li{
  margin: 1rem auto;
} */

/* navigation */

.navbar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar);
  color:hsla(192, 10%, 90%, 0.979);
  height: 9vh;
  margin-right: auto;
  top: 0;
  z-index: 99999;
}

.logo-wrapper{
  display: flex;
  align-items: center;
  position: relative;
  bottom: 1.1vh;
  height: 100%;
  padding: 2rem;
}

.logo {
  font-family: 'Outfit', sans-serif;
  color: whitesmoke;
  font-size: var(--smallfont);
  font-weight: 100;
  transition: color 300ms ease-in-out, font-weight 250ms ease-in-out;
}

.logo:hover{
  color: black;
  font-weight: 400;
}

.navlinks{
  font-family: 'Outfit', sans-serif;
  display: flex;
  position: relative;
  width: 50%;
  right: 0;
  margin-left: auto;
}

.navlinks ul {
  display: flex; /*align navbar items in horizontal row */
  width: 100%;
  flex: 1;
}

.navlinks ul li{
  flex: 1;
}

.navlinks li a {
  display: flex;
  color: rgb(0, 0, 0);
  padding: 1rem;
  font-weight: 300;
  position: relative;
  justify-content: center;
  font-size: var(--textfont);
  border-left: var(--silverblue) solid 1px;
}

.navlinks li a:hover {
  color:aliceblue;
}

.navlinks li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--skyblue);
  height: 2px;
}

.navlinks ul li>a:hover:after {
  width: 50%;
}

nav a,
nav a:after,
nav a:before {
  transition: all .4s;
}

.book-button{
  background-color: var(--silverblue);
  color:aliceblue;
  padding: 1rem 2rem;
  height: 3rem;
  width: fit-content;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-overflow: none;
  border-radius: 1rem;
  border: var(--skyblue) .5px solid;
  transition: border-radius 500ms ease-out, background-color 420ms ease-out;
}

.book-button:hover{
  background-color: rgb(214, 75, 0);
  border-radius: 2rem;
  cursor: pointer;
}

nav .book-button{
  margin: auto 5rem auto 4rem;
  padding: 0 3rem;
}

#contact-nav{
  border-right: var(--silverblue) solid 1px;
}

/* home page */

/* main-content */

#main-header-wrapper{
  height: 100vh;
  width: auto;
  background: var(--main-bg-color);
}

#main-video {
  height: 50vh;
  display: flex;
  position: relative;
  z-index: -1;
}

#main-header{
  height: 100vh;
  font-size: var(--smallfont);
  transition: opacity 1s;
}

#main-header h2{
  font-family: 'Outfit', sans-serif;
  font-size: var(--headerfont);
  font-weight: 100;
  margin: auto;
  padding: 8vh 0 5vh;
  width: fit-content;
  position: relative;
}
  
#main-header h3{
  width: 50ch;
  position: relative;
  margin: 2rem auto;
  /* right: 17%; */
  text-align: center;
  font-size: var(--smallfont);
  font-weight: 400;
  text-shadow: .2rem .4rem 22px rgb(124, 124, 124);
}

#main-header .book-button{
  margin: 8vh auto 0;
}

#main-content-wrapper{
  height: fit-content;
}

.main-content{
  content-visibility: auto;
  display: flex;
  height: 75vh;
  /* border: rgb(184, 177, 177) solid 1px; */
}

.main-content h2{
  text-align: start;
  margin-bottom: 2rem;
}

.main-content section{
  width: 33%;
  height: fit-content;
  margin: auto 0 auto 10%;
  padding: 3rem;
  border: var(--purple) solid 1px;
  border-radius: .2rem .7rem;
  box-shadow: inset .4em -.4em aliceblue;
  transition: transform 300ms ease-in, box-shadow 400ms ease-in-out;
  cursor: pointer;
}

.main-content section:hover{
  box-shadow: inset .8em -.8em aliceblue;
  transform: scale(1.02);
}

.main-content p{
  max-width: 50ch;
}
#main-content-one{
  background: linear-gradient(to bottom, aliceblue, var(--skyblue));
}

#main-content-one section{
  color: black;
  background: var(--silverblue);
}

#main-content-two{
  background: rgba(201, 225, 255, 0.574);
  justify-content: flex-end;
  background: var(--skyblue);
}

#main-content-two section{
  color: black;
  background: var(--skyblue);
  margin: auto 10% auto 0;
  box-shadow: inset -.4em -.4em var(--purple);
}

#main-content-two section:hover{
  box-shadow: inset -.8em -.8em var(--purple);
}

#main-content-three{
  background: rgb(181, 212, 239);
  border: black solid 2px;
}

#main-content-three section{
  color: rgba(246, 246, 246, 0.942);
  background: var(--navbar);
}

#main-content-four{
  background: linear-gradient(to top, aliceblue, var(--skyblue));
}

/* about & faq page */

#about-main{
  background: var(--main-bg-color);
  height: fit-content;
}

#faq{
  color: aliceblue;
}

#faq article{
 padding-top: 70vh;
}

.accordian{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(30, 6, 83, 0.147);
  width: 50%;
  position: relative;
  padding: 2rem;
  margin: auto;
  border: aliceblue solid 1px;
  border-radius: .2rem 1.6rem;
}

.accordian-item{
  padding: 1rem;
  margin: 1rem auto;
  border: rgb(179, 190, 199) solid 1px;
  border-radius: 7px;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
  width: 70ch;
  line-height: 1.6;
}

.accordian-link{
  font-size: var(--smallheaderfont);
}

.accordian header{
  width: 50%;
  margin: 2rem auto;
  border-bottom: aliceblue solid 1px;
  padding-bottom: 2rem;
  text-align: start;
}

#question1{
  margin-top: 2rem;
}

ion-icon{
  border: rgb(175, 175, 175) solid 1px;
  padding: .2rem;
  background-color: rgba(240, 248, 255, 0.891);
  margin-left: .4rem;
  border-radius: 50%;
}

/* services */

#services{
  height: 60vh;
}

#services-main{
  background-color: var(--skyblue);
}

.services-header{
  padding-top: 7vh;
  padding-bottom: 4vh;
  display: block;
  margin: 0 auto 4rem;
  width: 35%;
  border-bottom: rgba(148, 148, 148, 0.493) solid 2px;
  height: fit-content;
}

.services-card h3{
  font-size: var(--smallfont);
}

.services-card h4{
  margin: auto;
  padding: 1rem 0;
  width: 70%;
}

#card-border{
  margin: 1rem auto;
  width: 34%;
  border-top: rgba(134, 134, 134, 0.658) solid 1px;
}

.services-card h5{
  display: none;
  font-size: 14px;
  font-weight: 100;
  padding: 2rem 0 1rem;
  text-align: start;
}

.services-card-wrapper{
  margin: 7vh auto;
  display: grid;
  flex-wrap: nowrap;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr)); 
  gap: 2rem;
  max-width: 74%;
}

.services-card{
  box-shadow: .5rem 2px .5rem rgba(105, 105, 105, 0.2);
  background-color:rgba(207, 233, 255, 0.74);
  color:var(--wine);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  padding: 2rem;
}

.services-card ul{
  min-height: fit-content;
  height: 18 rem;
  padding: 1rem;
  margin-top: 20px;
  box-shadow: 0px 7px 11px rgba(99, 99, 99, 0.2);
  background-color:rgb(215, 236, 255);
  backdrop-filter: blur(20px);
  border: solid 1px rgba(240, 248, 255, 0.709);
  list-style: circle;
}

.services-card li{
  width: 80%;
  margin: 1.5rem;
}

.services-card-header{
  margin: 1rem auto 0;
}

.services-item-text{
  margin: 2rem 0;
  max-width: 56ch;
}

.services-item-text.text-two{
  text-align: center;
  width: 100%;
  /* border: black solid 3px; */
  margin: 2rem auto 0;
}

.services-list h4{
  text-align: start;
  padding-top: 1rem;
  padding-left: 1rem;
}

#card-one ul{
  border-radius: 22px 50px 4px 4px;
}

#card-two ul{
  border-radius: 22px 22px 4px 4px;
}

#card-three ul{
  border-radius: 50px 22px 4px 4px;
}

#spacer{
  aspect-ratio: 2160/1440;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.graphic{
  background-image: url('/Pages/Images/wave.svg');
}

/* carousel */

.carousel {
  margin-bottom: 3rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  letter-spacing: -.05rem;
}

.services-header-btn{
  background-color: #587d9d;
  border: none;
  transition: background-color 300ms ease-in-out;
  margin-top: 2rem;
}

.services-header-btn:hover{
  background-color: var(--orange);
}

#services-header-one{
  text-align: start;
}

#services-header-two{
  text-align: start;
}

#services-header-img-1{
  position: relative;
  /* top: 20rem; */
}

.services-header-text{
  margin-bottom: 3rem;
}

.service-button{
  margin: 2rem auto;
  background-color: var(--navbar);
  transition: background-color 300ms ease-in-out;
}

.service-button:hover{
  background-color: var(--orange);
}

/* contact page */

.contact-main{
  height: 100vh;
  /* padding-bottom: 20vh; */
  position: relative;
  margin: auto;
  background: var(--main-bg-color);
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

.contact-main header{
  height: fit-content;
  max-width: 30%;
  margin: auto;
  position: relative;
}

.contact-main h3{
  text-align: start;
  margin: 0;
  padding-top: 11%;
  color: aliceblue;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  font-size: var(--mediumfont);
  transition: opacity 1s;
}

.contact-main h4{
  margin: 0 auto 10vh;
  padding-top: 10%;
  color: rgba(130, 54, 0, 0.75);
  width: 70%;
  font-size: 16px;
  text-align: center;
}

#contact-wrapper{
  height: 100vh;
}

form{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-auto-rows: fit-content;
  gap: 2rem;
  width: 90%;
  max-width: 35rem;
  height: 44rem;
  padding: 4rem;
  margin: 3vh auto;
  backdrop-filter: blur(2rem);
  box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.199);
  border: 4px rgba(255, 255, 255, 0.155) solid;
  border-radius: 1rem;
}

label{
  font-size: var(--smallfont);
  font-weight: 300;
} 

input, textarea {
  width: 100%;
  max-width: 25rem;
  margin-top: 1rem;
  padding: .3rem .7rem;
  outline: 0;
  border: 3px rgba(255, 255, 255, 0.462) solid;
  border-radius: .4rem .2rem;
  background: transparent;
  font-size: 1rem;
}

.contact-date{
  margin: .5rem 0;
  width: min-content;
}

form p{
  width: 100%;
  position: relative;
  margin: auto;
  color: aliceblue;
}

button{
  background: none;
  border: 1px rgba(255, 255, 255, 0.462) solid;
  border-radius: 1rem;
}

#contact-book-button{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
}

/* bootstrap */

.text-center.text-muted{
  margin: auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.social-icons{
  /* border: black solid 2px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* footer */



#terms{
  background-color: var(--skyblue);
  color: black;
}

#terms article{
  max-width: 70ch;
  margin: 2rem auto;
}

@media screen and (max-width: 1300px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    color:whitesmoke;
    height: 8vh;
  }

  .burger {
    position: absolute; /*keeps hamburger menu locked on right side of screen*/
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.7rem;
    height: 1.4rem;
    margin:auto;
    cursor: pointer;
  }

  .burger .bar{
    height: .1rem;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 1rem; /* rounds corners of hamburger menu */
  }

  #bar2{
    width: 63%;
    align-self: flex-end;
  }

  .logo-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    bottom: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .logo{
    font-size: 2rem;
    margin-left: 0;
    padding: 1rem 1.5rem;
  }

  .navlinks{
    display: flex;
    position: fixed;
    width: auto;
    top: 0px;
    right: 0;
    margin-left: auto;
  }
  
  .navlinks-menu.active{
    transform: translateX(0%);
  }

  .navlinks ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    width: 67vw;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background: var(--main-bg-color);
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
    /* border: orange solid 4px; */
  }
 
  .navlinks ul li{  /*set breakpoint for ipad to fix nav sidebar.. if we still like it*/
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 7rem;
    max-height: 7rem;
    margin: 4vh auto;
    background-color: rgba(17, 0, 54, 0.209);
    /* border: var(--rorange) solid 10px; */
    border-radius: 50%;
    box-shadow: 0 7px .7rem rgba(14, 0, 39, 0.525);
  }

  .navlinks ul li a {
    color: rgb(255, 243, 236);
    padding: 3rem;
    font-weight: 300;
    font-size: 12px;
    border: none;
  }

  #contact-nav{
    /* padding: 1rem; */
    border-right:none;
  }

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

}